

/* ==========================================
base element  
=========================================  */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /*   =10px   */
}

body {
    font-family: "Sintony", sans-serif;
    line-height: 1.3;
    color: 000000;
    background: rgba(255,204,102, .3);
    font-size: 14px; 
    font-size: 1.4rem;  /*   =14px   */
}

p {
    font-size: 14px;
    font-size: 1.4rem;   /*   =14px   */
    /* margin-bottom: .2em; */
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    font-size: 3.2rem;   /*   =32px   */
}

h2 {
    font-size: 22px;
    font-size: 2.2rem;   /*   =22px   */
    text-transform: uppercase;
    margin-top: 4rem;
    /* padding-top: 4.0rem;
    padding-bottom: 0; */
}

h3 {
    font-size: 20px;
    font-size: 2rem;   /*   =20px   */
    padding-top: 1rem;
    padding-bottom: 0;
}

h1,
h2,
h3 {
    margin: 0 auto;
    color: #3a3a3a;
}

a {
   text-decoration: none; 
   color: darkblue;
}

a:hover {
    color: lightblue;
}

img {
    max-width: 100%;
}



/* ==========================================
base layout  
=========================================  */

h1.main-title {
    text-align: center;
    margin: 30px 0px;
}

.main-nav {
    text-align: center;
    font-size: 20px;
    font-size: 2rem;   /*   =20px   */
    text-transform: uppercase;
    width: 100%;
}

.main-nav li {
    font-size: 20px;
    font-size: 2.0rem;   /*   =20px   */  
    display: block;
    padding: .5em;
    margin: 10px auto;
    background: white;
}

.aboutme li {
    font-size: 14px;
    font-size: 1.4rem;   /*   =14px   */  
}

hr.darkgrey2 {
    margin-top: 0px;
    margin-top: 0rem;   /*   =10px   */
    margin-bottom: 0px;
    margin-bottom: 0rem;   /*   =10px   */
    border-top: 1px;
    border-top: .1rem solid darkgrey;
}



/* ==========================================
layout containers  
=========================================  */

.main-header {
    width: 100%;
    margin: 0 auto;
    padding: .5em 3em 3em 3em;
    text-align: center;
}

.main-headshot {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 75%;
    margin: 0 auto;
}

.headshot {
    transition: all 1s;
}

.headshot:hover {
    transform: scale(1.1) rotate(0deg);
}

.container {
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 1.5em 3em;
    text-align: center;
}

.aboutme,
.contact {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0em;
    text-align: center;
}

.main-footer {
    text-align: center;
    padding: 0 3em 5em 3em;
}

.portfolio-page-image {
    padding: 3em 0 0 0;
}

.wrap {
    min-height: calc(100vh - 102px);
}

.student-name-footer {
    float: left;
}

.backtotop-footer {
    text-transform: uppercase;
    float: right;
}



/* ==========================================
media queries
=========================================  */

/*   target viewport sizes 768px or wider   */
@media (min-width: 768px) {

    body {
        line-height: 1.5;
    }
    
    p {
        font-size: 18px;
        font-size: 1.8rem;   /*   =22px   */
    }
    
    h1 {
        font-size: 32px;
        font-size: 3.2rem;   /*   =48px   */
    }
    
    h2 {
        font-size: 26px;
        font-size: 2.6rem;   /*   =26px   */
        text-transform: uppercase;
        padding-top: 2.0rem;
        padding-bottom: 0;
    }
    
    h3 {
        font-size: 24px;
        font-size: 2.4rem;   /*   =24px   */
        padding-top: 1.2rem;
        padding-bottom: 0;
    }

    .wrap {
        width: 90%;
        margin: 0 auto;
    }

    .main-nav {
        font-size: 24px;
        font-size: 2.4rem;   /*   =24px   */
    }

    .main-nav li {
        display: inline;
        margin: 0px auto;
        background: none;
    }

    .header-note {
        float: left;
        width: 50%;
        margin-right: 15px;
    }

    .headshot {
        float: right;
        width: 30%;
        margin-left: 15px;
    }

    .aboutme li {
        font-size: 18px;
        font-size: 1.8rem;   /*   =18px   */  
    }

    .email-address {
        font-size: 18px;
        font-size: 1.8rem;   /*   =18px   */
    }

    .student-name-footer {
        float: left;
    }
    
    .backtotop-footer {
        text-transform: uppercase;
        float: right;
    }
}

.clearfix:after {
    content: "";
    clear: both;
}




