

/* ==========================================
base element  
=========================================  */

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6;
    color: 000000;
    background: #f6f6f6;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 2em;
}

h1,
h2,
h3 {
    margin: 0 auto;
}

h2,
h3,
a {
   color: #093a58; 
}

a {
   text-decoration: none; 
}

img {
    max-width: 100%;
}



/* ==========================================
base layout  
=========================================  */

h1.main-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
}

.main-title a:hover {
    color: blue;
}

.main-nav {
    font-size: 1.2em;
    text-transform: uppercase;
}

.main-nav li {
    border: 5px;
    border-color: #f6f6f6;
}

.main-nav a {
    text-align: center;
    color: black;
    display: block;
    padding: 10px 15px;
    margin: 5px 0px 0px 0px;
    background: white;
}

.main-nav a:hover {
    color: blue;
}


/* ==========================================
layout containers  
=========================================  */

.container {
    margin: 0 auto;
    background: white;
    padding: 0 1em;
}

.main-header {
    width: 90%;
    margin: 0 auto;
    padding-top: .5em;
    padding-bottom: em;
    text-align: center;
}

.container,
.main-footer {
    text-align: center;
}

.main-headshot {
    padding-top: 50px;
    padding-bottom: 25px;
    width: 75%;
    margin: 0 auto;
}

.main-footer {
    text-align: center;
    padding: 2em 0;
}


/* ==========================================
media queries
=========================================  */





